
.ti1 ul {
  list-style-type: none;
  text-align: left;
}

.ti1 li {
  font-family: URW Gothic L;
  font-size: 60px;
  color: white;       
  padding-bottom:  20px;

  
}

h2{
    margin-left: 25px;
    font-family: "Cambria", monospace;
  
}
h2 span{
    font-size: 30px;
    padding: 0px;
    vertical-align: middle;
    color: ;
}

p{
    text-align: justify;
    font-family: "Cambria",sans-serif;
    font-size: 19px;
    margin: 30px;
}

img{
    width: 50%;
    margin: 200px;
    border-style: dashed;
    float:left;
}
  
 #disqus_thread{
   padding: 25px;
 }

 .esfinge {
       width: 960px;
       margin: 0 auto;
       background-image: url("../img/tt.jpg");
       background-position: center center;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
}
body{
  
 
       background-image: url("../img/alan1.jpg"); 
}

.cont{
   overflow: hidden;
}
.cont h1{
    text-align:center;
    font-family: "Palatino", serif;    
}

.m1,
  .menu{
    float:left;
    width: 80%;
     border-style:inset;
  }
  .m1 ul,
  .menu ul{
    font-size: 22px;
    font-variant: small-caps;
    font-family: Calibri,"Garamond",monospace;
    list-style-type: none;
  }
  .m1 ul li,
  .menu ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-style:inset;
    border-bottom-left-radius: 20%;
  }
  .m1 ul li a:active,
  .m1 ul li a:visited{
    color: #ffd700;
  }
  .menu ul li a:active{
    color: blue;
  }
  .menu ul li a:visited{
    color: purple;
  }
  .texto{
    float: right;
    width: 50%;
    margin:20px;
    
  }
  
   .texto2{
    float: right;
    width: 80%;
    margin:20px;
    
    /*background-color: #bdb76b;*/
  }
  .es{    
    width: 300px;
    margin: 20px;
    border-style:groove;
    
  }
    
  em{
    font-size: 22px;
    font-family: Calibri,"Garamond",monospace;
    padding-top: 10px;
    padding-bottom: 10px;
     
  }
  .glos{
        text-align: justify;
       width: 80%;
    margin:20px;    
    color:white;
        
  }
 
ul li{
  font-size: 20px;
  padding-right:  19px;
  margin-right: 80px;
  margin-left: 40px;
  display: inline-block; /*en bloque o en linea*/
  font-style: italic;
}
ul li a:link,
ul li a:active,
ul li a:visited{
  color: #ffd700;
  float: left;
}

.divi{
   text-align: justify;
   float: left;
}